@model App.Models.ViewModel.PatientViewModel


<div class="col-xl-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Discharge Details</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Consultant :</label>
                    <div class="col-sm-9">
                        @ViewBag.SelectedDoctor
                    </div>
                </div> 
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Patient Name :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Patient.Name)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">GENDER :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Patient.Gender)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Age :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Patient.Age)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">CADS No :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Patient.CADSNumber)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">OPD/ Casualty No :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Patient.OPDNumber)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Address :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Patient.Address.Street),  @Html.DisplayFor(model => model.Patient.Address.City),  @Html.DisplayFor(model => model.Patient.Address.State)  @Html.DisplayFor(model => model.Patient.Address.ZipCode)
                    </div>
                </div>
               
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">PHONE NUMBER :</label>
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.Patient.PhoneNumber)
                    </div>
                </div>
                

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">DOA:</label>
                    <div class="col-sm-9">
                        @if (Model.Patient.DOA!=null)
                        {
                            @Html.DisplayFor(model => model.Patient.DOA)
                        }
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">DOD:</label>
                    <div class="col-sm-9">

                        @Html.DisplayFor(model => model.Discharge.DOD)
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Diagnosis:</label>
                    <div class="col-sm-9">

                        @Html.DisplayFor(model => model.Patient.Daignosis)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Side:</label>
                    <div class="col-sm-9">

                        @Html.DisplayFor(model => model.Patient.Side)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">CoMorbity:</label>
                    <div class="col-sm-9">

                        @Html.DisplayFor(model => model.Patient.CoMorbity)
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Case Summary:</label>
                    <div class="col-sm-9">

                        @Html.DisplayFor(model => model.Discharge.CaseSummary)
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Investigations:</label>
                    <div class="col-sm-9">

                        @Html.DisplayFor(model => model.Discharge.Investigations)
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Treatment Given:</label>
                    <div class="col-sm-9">

                        @Html.DisplayFor(model => model.Discharge.TreatmentGiven)
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Discharge Advice:</label>
                    <div class="col-sm-9">

                        @Html.DisplayFor(model => model.Discharge.AdviceOndischarge)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Junior Resident:</label>
                    <div class="col-sm-9">

                        @Html.DisplayFor(model => model.Patient.JuniorResident)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Senior Resident:</label>
                    <div class="col-sm-9">

                        @Html.DisplayFor(model => model.Patient.SeniorResident)
                    </div>
                </div>
                @if (@Model.Discharge != null)
                {
                    @if (@Model.Discharge.PatientID > 0)
                    {
                        <a target="_blank" href="@Url.Action("Discharge", "Patient",  new { PatientID = @Model.Discharge.PatientID,ViewName="Print" })" class="btn btn-primary">Print Data</a>

                    }
                }
            </div>
        </div>
    </div>
</div>



